* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu-1 {
  width: 100px;
  height: 100px !important;
  display: none;
}

.header {

}

.header_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header_brend{
  display: flex;
  align-items: center;
  gap: 30px;
  /* max-width: 800px; */
  width: 100%;
}

.header_box button {
  display: flex;
  align-items: center;
  gap: 7px;
  border: none;
  outline: none;
  background: #fbd24d;
  padding: 9px 15px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: .2s linear;
}

.menu {
  width: 25px;
  height: 25px;
}

.header_box button:hover {
  background: #fac001
}

.header_input{
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 700px !important;
  border: 1px solid #fbc100;
  padding: 10px 10px;
  border-radius: 6px;
  position: relative;
}

.header_input_img {
  width: 30px;
  height: 20px;
  transition: .3s linear;

}

.header_input:hover .header_input_img {
  color: #fbc100;

}


.header_input input {
  border: none;
  outline: none;

}

.header_input_content {
  width: 100%;
  height: 200px;
  border: 1px solid #fbc100;
  position: absolute;
  margin-top: 240px;
  margin-left: -10px !important;
  padding: 15px;
  overflow: auto;
  border-radius: 6px;
}


.header_brend{
  display: flex;
  align-items: center;
}


.header_links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header_links span {
  text-align: center;
}

.header_span {
  transition: .3s linear;
  cursor: pointer;
}

.header_span:hover {
  color: #fac001;
}


/*   L A T E S T     */

.latest_box {
  padding: 64px 0 90px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 27px;
}

.latest_h2 {
  padding-top: 96px;
}

.latest_card{
  background: white;
  width: 400px;
  height: 437px;
  overflow: hidden;
  border-radius: 20px;
  text-align: center;
}


.latest_card_img{
  max-width: 270px;
  height: 229px;
  transition: .3s linear;
  margin-top: 20px;
}

.latest_card_img:hover {
  transform: scale(1.06);

}

.latest_card_text {
  padding: 0 32px 32px 32px;
}

.latest_card h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  max-width: 336px;
  margin-top: 32px;
}

.latest_card p {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  max-width: 336px;
  margin: 16px 0 24px 0;
 
}

.latest_card_text p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.latest_card span {
  color: #F58A07;
  display: flex;
  align-items: center;
  gap: 8px;
}




@media(max-width: 700px){
  .header_input {
    display: none;
  }

  .menu-1 {
    display: block;
  }
}



@media(max-width: 520px){
  .header_brend {
    display: none;
    
  }

  .menu-1 {
    width: 40px;
    height: 40px;
  }

  .header_links {
    display: none;
  }

  .header_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.brend {
  display: flex;
  align-items: center;
  gap: 40px;
}