* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {

}

.header_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_brend{
  display: flex;
  align-items: center;
  gap: 30px;
  /* max-width: 800px; */
  width: 100%;
}

.header_box button {
  display: flex;
  align-items: center;
  gap: 7px;
  border: none;
  outline: none;
  background: #fbd24d;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: .2s linear;
}

.header_box button:hover {
  background: #fac001
}

.header_input{
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 700px !important;
  border: 1px solid #fbc100;
  padding: 10px 10px;
  border-radius: 6px;
}

.header_input_img {
  width: 30px;
  height: 20px;
  transition: .3s linear;

}

.header_input:hover .header_input_img {
  color: #fbc100;

}


.header_input input {
  border: none;
  outline: none;

}


.header_brend{
  display: flex;
  align-items: center;
}


.header_links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header_links span {
  text-align: center;
}

